* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

header div {
  float: left;
  justify-content: space-between;
}

header .logo {
  margin-left: 10%;
  padding: 20px;
}

header .nav {
  position: absolute;
  top: 0;
  right: 10%;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  float: left;
  padding: 20px 23px;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(46, 44, 44);
  font-weight: bold;
}

.nav ul li a:hover {
  color: #8593ff;
}

/* section one start */
.section1 {
  background-color: #f9f9ff;
  width: 100%;
  height: 665px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}

.me,
.my-img1 {
  width: 50%;
}

.me {
  margin-left: 230px;
  margin-bottom: 120px;
}

.my-img1 {
  margin-right: 160px;
  margin-top: 50px;
}

.my-img1 img {
  height: auto;
  max-width: 100%;
}

.me h3 {
  color: gray;
  font-weight: normal;
}

.me h1 {
  font-size: 60px;
  padding: 40px 0;
}

.me p {
  color: rgb(132, 121, 121);
  font-weight: 300;
}

.discover-btn {
  padding: 8px 20px;
  background-image: linear-gradient(to right, #8390ff, #62bcfc);
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
  font-size: 15px;
}

.discover-btn:hover {
  box-shadow: 5px 10px 30px rgba(132, 132, 234, 0.6);
  transition: all 0.5s ease-in;
}
/* section one end */

/* section two start */
.section2 {
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 div {
  width: 40%;
  margin: 0 auto;
}

.section2 div img {
  width: 90%;
}

.section2 .img2 {
  padding-left: 150px;
}

.text2 * {
  margin: 20px 0;
}

.text2 h3 {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

.text2 h1 {
  font-weight: bold;
  font-size: 40px;
}

.text2 p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  width: 70%;
}

.text2 input {
  font-size: 20px;
  padding: 12px 16px;
  outline: none;
  color: #fff;
  background-color: #8293ff;
  border: none;
  border-radius: 5px;
}

.text2 input:hover {
  box-shadow: 5px 10px 30px rgba(132, 132, 234, 0.6);
  transition: all 0.5s ease-in;
}
/* section two end */
/* section three start */
.section3 {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  text-align: center;
}

.services-text h1 {
  font-size: 40px;
}

.services-text p {
  width: 670px;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.6);
}

.services {
  width: 80%;
  margin: 0 auto;
}

.ser {
  margin: 45px;
  width: 100%;
  overflow: hidden;
}

.ser * {
  margin: 15px 15px;
}

.ser div {
  width: 32%;
  float: left;
  padding: 5px;
  margin: 0 auto;
}

.services i {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.7);
}

.services h3 {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.8);
}

.services p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.ser div:hover {
  background-color: #8293ff;
  border-radius: 5px;
}

.ser div:hover i {
  color: white;
}
.ser div:hover h3 {
  color: white;
}
.ser div:hover p {
  color: white;
}

.section4 {
  width: 100%;
  height: 200px;
  background-color: #8293ff;
  color: white;
  margin-top: 50px;
}

.section4 div {
  float: left;
  width: 20%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 215px;
}
/* section three end */

/* section five start */
.section5 {
  width: 100%;
  box-sizing: border-box;
}

.section5 .text3 {
  text-align: center;
}
.text3 h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 100px;
}

.text3 p {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  margin-bottom: 100px;
}

.project-images {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px auto;
}

.project-images figure {
  background: linear-gradient(40deg, #8490ff 40%, #62bcfc 100%);
  width: 340px;
  height: 339px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 3%;
}

.section5 figure:hover img {
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.project-images div {
  padding-bottom: 40px;
  text-align: center;
}

.project-images h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  margin: 10px auto;
}

.project-images p {
  color: rgba(0, 0, 0, 0.6);
}
/* section five end */

/* section six start */
.section6 {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.section6-head {
  text-align: center;
}

.section6-head .sec6-title {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.9);
}

.section6-head .sec6-description {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

.section6-body {
  background-color: #f9f9ff;
  padding: 30px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.plan h1 {
  font-size: 40px;
}

/* section six end */
